{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">

<div class="col-md-8">
    
    <div class="card mb-4 mt-2 ">
        <div class="card-header"> <img
            src="{{ url_for('static', filename='profile_pics/' + pitch.author.image_file) }}"
            alt="{{ pitch.author.username }}"
            class="img-fluid rounded-circle"
            style="max-height: 50px; width: 50px;"
            
          />     {{ pitch.author.username }}</div>
        <div class="card-body">
          <h5 class="card-title">{{ pitch.title }}</h5>
          <p class="card-text">
            {{pitch.content}}.
          </p>
      
          
        </div>
        <div class="card-footer"><small class="text-muted">Posted on {{pitch.date_posted.strftime('%Y-%m-%d')}}    Category: {{ pitch.category }}</small></div>
      </div>

   
</div>


    </div>
</div>
{% endblock %}
